# ========================
# BACKEND
# ========================
DATABASE_URL="postgresql://mediagram:mediagram123@localhost:5434/mediagram?schema=public"
PORT=5000
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET=your_super_secret_access_key_change_in_production
JWT_REFRESH_SECRET=your_super_secret_refresh_key_change_in_production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dxmkgyl9m
CLOUDINARY_API_KEY=522634735445355
CLOUDINARY_API_SECRET=hez7NrZCiEGB_TeO3YIRhBKUGBM

# CORS
CLIENT_URL=http://localhost:5173

# ========================
# FRONTEND (prefix VITE_)
# ========================
VITE_API_URL=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000
